<?xml version="1.0" encoding="UTF-8"?>
<web-app >
	<display-name>Archetype Created Web Application</display-name>

	<!-- Apache CXF servlet -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>  
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!-- listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- web context param -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/apache-cxf-services.xml,WEB-INF/ApplicationContext.xml</param-value>
	</context-param>

	<!-- session timeout -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>
